.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .container {
        display: flex;
        gap: 20px
    }

    .buttons {
        display: flex;
        gap: 20px;
        justify-content: center;

        button {
            padding: 10px 20px;
        }
    }

    .prompt {
        white-space: break-spaces;
    }

    .spinner {
        width: 30px;
        height: 30px;
        animation-name: rotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
        
    }
}
